/*Estilos para la pagina Café Tequila Alimentos Flores*/
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: beige;
    display: flex;
    align-content: center;
    justify-content: center;
}



#contenedor{
    height: 1000px;
    width: 900px;
    & #header{
        font-family: cursive;
        background-color: #3a251c;
        color: white;
        width: 100%;
        line-height: 100px;
        border: 1px solid#000;   
        border-bottom: 0px;
        font-size:25px;
        text-align: center;
    }
    & #barra{
        background-color: #b46424 ;
        height: 50px;
        & ul{
            padding: 10px;
            display: flex;
            justify-content:space-around;
            & li{
            display: inline-block;
            font-weight: bold;
            font-size: 20px;
            &:hover {
                color: white;
                font-size: 1.2em;
            }
            }
        }
    }
    & #contenido{
        height: 75%;    
        width: 64%;    
        display: inline-flex;
        padding-right: 1.8px;
        background-color:  #362f2f ;
        border: 1px solid #000;
        border-top: 0px;
        color: white;
        & h2{
            font-size: 25px;
            text-align: left;
            margin: 20px;
            font-weight: bold;
        }
        & h3{
            font-size: 15px;
            text-align: left;
            margin: 20px;
        }
        & .texto{
            font-size: 15px;
            text-align: justify;
            margin: 20px;
            line-height: 25px;
            letter-spacing: 1px;
        }
    }
    & #fueraSeccion{
        height: 75%;
        width: 35%;
        background-color:  #b58c7c ;
        border: 0px solid#000;   
        border: 1px solid black;
        border-top: 0px;
        float: right;
        & header{
            margin-top: 30px;
            margin-left: 15px;
        }        
        & .paises{
            padding-top: 30px;
            margin-left: 30%;
            font-weight:bold;
            & li{
                padding-top: 20px;
                &:hover {
                    color: white;
                    font-size: 1.2em;
                }
            }
        }  
    }


    & #pie{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  #3a251c ;
        height: 10%;
        border: 1px solid black;
        color: white;
        font-weight: bolder;
    }
    & img {
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 10px;
        margin-left: 50px;
    }
}