*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgba(93, 98, 100, 0.603);
    display: flex;
    align-content: center;
    justify-content: center;
}



#contenedor{
    height: 1000px;
    width: 900px;
    & #header{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #000000;
        color: white;
        width: 100%;
        line-height: 100px;
        border: 1px solid#000000;   
        border-bottom: 0px;
        font-size:25px;
        text-align: center;
        box-shadow: 0 0 10px rgb(255, 230, 9);
    }
    & #barra{
        background-color: #fdec00 ;
        height: 50px;
        background: linear-gradient(to right, rgba(247, 148, 35, 0.822), #ff9d2de0, rgba(255, 178, 11, 0.863));
        box-shadow: 0 0 100px rgb(250, 210, 30);
        box-shadow: 0 0 10px rgb(255, 230, 9);
        & ul{
            padding: 10px;
            display: flex;
            justify-content:space-around;
            & li{
            display: inline-block;
            font-weight: bold;
            font-size: 20px;
            &:hover {
                color: white;
                font-size: 1.2em;
            }
            }
        }
    }
    & #contenido{
        font-family: "Helvetica Neue", Arial, sans-serif;
        height: 75%;    
        width: 100%;    
        display: inline-flex;
        padding-right: 1.8px;
        background-color:  #888282 ;
        border: 1px solid #000;
        border-top: 0px;
        color: white;
        box-shadow: 0 0 100px rgb(250, 210, 30);
        & h2{
            font-size: 25px;
            text-align: left;
            margin: 20px;
            font-weight: bold;
            
        }
        & h1{
            font-size: 50px;
            text-align: center;
            margin: 20px;
            font-weight: bold;
            
            box-shadow: 0 0 10px rgb(255, 230, 9);
        }
        
    }


    & #pie{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  #000000 ;
        height: 7%;
        border: 1px solid rgb(0, 0, 0);
        color: white;
        font-weight: bolder;
        box-shadow: 0 0 10px rgb(255, 230, 9);
    }
    & img {
        width: 250px;
        height: 230px;
        padding: 10px;
        
        border-radius: 10px;
        margin-left: 50px;
        background: none;
    }
}